<center>
<h1 style="color: darkmagenta;">Users</h1>
<div id="main_container">
	<%= render "users/index" %>		
</div>
<%= link_to "NewForm", new_user_path, remote: true, class:"btn btn-warning btn-lg" %>